:root {
  .aa-Panel {
    position: absolute;
    z-index: 20;
  }

  /* Autocomplete */

  /* Serachbox */
  .ais-SearchBox-input::-webkit-search-cancel-button,
  .ais-SearchBox-input::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  /* Map */
  .container {
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .map {
    /* flex: 1; */
    height: 500px;
    width: 100%;
  }

  .marker {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px 5px;
    font-weight: bold;
    color: #8400ff;
    background-color: white;
    border: 2px solid currentColor;
    transform: translate(-50%, -50%);
  }
}
