:root {
  .aa-Panel {
    position: absolute;
    z-index: 20;
  }

  .aa-Form {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    --aa-panel-border-color-alpha: 0;
    --aa-input-border-color-alpha: 0;
  }

  .aa-SubmitIcon {
    color: #020001 !important;
  }
}
